<?xml version="1.0" encoding="utf-8" ?> 
<application>
	
	<id>$(PACKAGEDOT)$(PROJECTID)</id>
	<versionNumber>0.1</versionNumber>
	<supportedProfiles>mobileDevice</supportedProfiles>
	<filename>$(PROJECTID)</filename>
	<name>$(PROJECTNAME)</name>
	<description></description>
	<copyright></copyright>

</application>